body {
    padding: var(--padding);
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 64px 1fr 64px;
}

header,
main,
footer {
    margin: var(--margin);
    padding: var(--padding);
}

header {
    display: flex;
    flex-flow: row;
    grid-area: header;
    height: 50px;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}
