:root {
    /* Colors */
    --background: #ebecf0;
    --color-accent: #1657f0;
    --color-text: #6c7587;
    --color-shadow: #73738e66;
    /* Fonts */
    --font-family: "Poppins", sans-serif;
}

/* Reset */
* {
    box-sizing: border-box;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Custom */
body {
    align-items: center;
    background: linear-gradient(45deg, red 10%, purple 50%, blue);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.login {
    align-content: center;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.35);
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 16px;
    width: 420px;
}

.login h1 {
    font-size: 32px;
    margin-top: 16px;
    text-align: center;
}

.login .input-box {
    align-items: center;
    display: flex;
    background: transparent;
    height: 64px;
    justify-content: center;
    margin: 16px 0;
    padding: 8px 16px;
    width: 100%;
}

.input-box input {
    background: transparent;
    border: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 32px;
    font-size: 14pt;
    height: 100%;
    margin: 0 16px;
    padding: 0 16px;
    outline: none;
    width: 100%;
}

.input-box input:hover {
    border: 2px solid white;
}

.remember-forgot {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 16px;
    text-align: center;
}

.remember-forgot a {
    color: white;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.input-box button {
    background: white;
    border: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 32px;
    font-size: 14pt;
    height: 100%;
    margin: 0 16px;
    padding: 0 16px;
    width: 200px;
}

.input-box button:hover {
    background: transparent;
    border: 2px solid white;
    color: white;
}

.register-link {
    margin-bottom: 16px;
    margin-top: 16px;
    text-align: center;
}

.register-link a {
    color: white;
    font-weight: 600;
    margin-left: 16px;
}

.register-link a:hover {
    text-decoration: underline;
}
