<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
        />
        <script src="https://unpkg.com/htmx.org@2.0.0"></script>
        <link href="/css/style.css" rel="stylesheet" />
        <title>Rust template</title>
    </head>
    {% if token.is_empty() %}
    <body hx-get="/sign_in" hx-trigger="load"></body>
    {% else %}
    <body
        hx-headers='{"Authorization": "Bearer {{ token }}"}'
        hx-get="/home"
        hx-trigger="load"
    ></body>
    {% endif %}
</html>
