<form action="/" enctype="application/x-www-form-urlencoded" method="post">
    <span> Welcome </span>
    <div data-validate="Enter username">
        <input type="text" name="username" />
        <span data-placeholder="Username"></span>
    </div>
    <div data-validate="Enter password">
        <input type="password" name="password" />
        <span data-placeholder="Password"></span>
    </div>
    <div>
        <button>Login</button>
    </div>
    <ul>
        <li>
            <span> Forgot </span>
            <a href="/reset"> Username / Password? </a>
        </li>
        <li>
            <span> Don’t have an account? </span>
            <a href="/sign_up"> Sign up </a>
        </li>
    </ul>
</form>
